.col-md-3.col-md-offset-4
  .text-center
    %h1 Regístrate
    %hr
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: "off"} do |f|
    = f.input :name, autofocus: true
    = f.input :email
    = f.input :password, hint: false, autocomplete: "off"
    = f.input :password_confirmation, autocomplete: "off"
    .col-md-10.col-md-offset-1
      = f.submit "Registrarme", class: "btn btn-success btn-block btn-lg"
      %hr
    .text-center
      ¿Ya tienes cuenta?
      = render "devise/shared/links"
