- if controller_name != 'sessions'
  = link_to "Log in", new_session_path(resource_name), class: "btn btn-default btn-block btn-lg"
  %br
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Regístrate", new_registration_path(resource_name)
  %br
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "Olvidaste tu password?", new_password_path(resource_name)
  %br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "No has recibido tu mensaje de confirmación?", new_confirmation_path(resource_name)
  %br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "No has recibido las instrucciones de desbloqueo?", new_unlock_path(resource_name)
  %br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Entra con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    %br
