.col-md-3.col-md-offset-4
  .text-center
    %h1 ¿Olvidaste tu password?
    %hr
  = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: {method: :post} do |f|
    = devise_error_messages!
    = f.input :email, autofocus: true
    .col-md-10.col-md-offset-1
      = f.submit "Restaurar mi password", class: "btn btn-success btn-block btn-lg"
      %hr
    .col-md-10.col-md-offset-1.text-center
      = render "devise/shared/links"
