.col-md-4
  .course
    .course-header
      = course.title
    .course-body
      - if course.cost
        %span.dollar $
        %span.amount= number_with_delimiter(course.cost, delimiter: ",")
        .price-note El costo del curso incluye materiales.
      .course-controls
        - if course.registrable
          - if course.title.include?('1')
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "FZDANJLDYJD9E"}/
              %input{:alt => "PayPal, la forma más segura y rápida de pagar en línea.", :border => "0", :name => "submit", :src => "http://i.imgur.com/1MyNoHE.png?1", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/es_XC/i/scr/pixel.gif", :width => "1"}/
          - elsif course.title.include?('2')
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "VZHACARFKGFNS"}/
              %input{:alt => "PayPal, la forma más segura y rápida de pagar en línea.", :border => "0", :name => "submit", :src => "http://i.imgur.com/1MyNoHE.png?1", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/es_XC/i/scr/pixel.gif", :width => "1"}/
          - else
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "ESZUZ7GE9LSN8"}/
              %input{:alt => "PayPal, la forma más segura y rápida de pagar en línea.", :border => "0", :name => "submit", :src => "http://i.imgur.com/1MyNoHE.png?1", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/es_XC/i/scr/pixel.gif", :width => "1"}/

    .course-description
      = raw course.description
      - if course.title.include?('1')
        = link_to 'Descargar PDF', '/N_1.pdf'
      - elsif course.title.include?('2')
        = link_to 'Descargar PDF', '/N_2.pdf'

