%header#home
  .text-vcenter
    %h1 Flores de Bach México
    %h3
      Cursos aprobados por
      %em The Bach Centre
      %small ®
    = link_to "#about", id: "continue-button", class: "glyphicon" do
      %span.glyphicon.glyphicon-chevron-down

/ second section - About

#about.pad-section
  .container
    .row
      .col-sm-5.text-center
        %h2 BIEP
        %p.lead (Bach International Education Programme - Programa Internacional de Educación Bach) Desde 1991, se imparte en más de 40 países transmitiendo fielmente las enseñanzas del Dr. Bach. Consta de 3 niveles con validéz internacional. Alma García es instructora certificada para los niveles 1, 2 y 3.
      .col-sm-2.text-center
        =image_tag 'bach_foundation.JPG', class: 'bach-divider'
      .col-sm-5.text-center
        %h2 Consulta
        %p.lead Descubre cómo este sistema te aporta la ayuda que necesitas, sintiéndote ecuchado y guiado para recobrar tu equilibrio emocional.

/ third section - Services
#services.pad-section
  .container
    %h2.text-center.light-text Servicios
    %hr
    .row.text-center
      .col-sm-4.col-xs-12
        %i.glyphicon.glyphicon-map-marker
        %h4 Cursos
        %p Cursos aprobados por el Bach Centre de Inglaterra con validéz para obtener la certificación como practitioner.
      .col-sm-4.col-xs-12
        %i.glyphicon.glyphicon-phone-alt
        %h4 Consulta
        %p Comunícate al 50014211 para programar tu cita o escríbenos a info@floresdebachmexico.com
      .col-sm-4.col-xs-12
        %i.glyphicon.glyphicon-bullhorn
        %h4 Otros servicios
        %p Asesoría a empresas y consulta en línea.


/ fourth section - Information
#information.pad-section
  .vertically-aligned
    %h2 "Treat the patients personality not his disease"
    %h3 Dr. Edward Bach

/ fifth section
#courses.pad-section
  .container
    %h1 Cursos
    .col-md-10.col-md-offset-1
      - @courses.each do |course|
        = render partial: "course_card", locals: {course: course}

/ Press section
#press.pad-section
  .container
    .row.text-center
      %h2 VISTO EN
    .row
      .col-md-10.col-md-offset-1
        .col-md-3.col-sm-3
          = image_tag "grupoimagenwhite.png", class: "img-responsive"
        .col-md-3.col-sm-3
          = image_tag "aztecatrecewhite.png", class: "img-responsive"
        .col-md-3.col-sm-3
          = image_tag "canaloncewhite.png", class: "img-responsive"
        .col-md-3.col-sm-3
          = image_tag "radioformulawhite.png", class: "img-responsive-responsive"

/ Contact
#contact
  .container
    %br
    %br
    .text-center
      %h2 Contáctanos
    .col-md-6.col-md-offset-3
      = form_for @contact_request, html: { role: "form", id: "contact-form" } do |f|
        .form-group
          %label Tu nombre *
          .controls
            = f.text_field :name, :class => 'form-control'
            %small.help-block
        .form-group
          %label Tu correo *
          .controls
            = f.email_field :email, :class => 'form-control'
            %small.help-block
        .form-group
          %label Mensaje
          .controls
            = f.text_area :message, :class => 'form-control', rows: 5
            %small.help-block
        .form-actions.text-right
          = f.submit 'Enviar', :class => 'btn btn-lg'
    .clearfix
    %br
    %br
    .text-center
      %h3 También escríbenos en nuestras redes sociales
%br
%br
%br

%hr
%br

#blog
  .container
    .text-center
      %h1 Blog y Noticias
      - if current_user.present?
        - @entries.each do |entry|
          .col-md-4
            = entry.url.html_safe
      - else
        %h3 Contenido exlusivo para miembros de la comunidad Flores de Bach México.
        = link_to 'Regístrate', new_user_registration_path

/ footer
%footer
  .container
    %hr
    .container
      %p.text-center
        © Flores de Bach México
        = Date.today.year
