.container
  - if notice
    .alert.alert-application.alert-dismissable.alert-success.text-center
      %button.close{'data-dismiss' => 'alert', :type => 'button'} ×
      = notice
  - if alert
    .alert.alert-application.alert-dismissable.alert-danger.text-center
      %button.close{'data-dismiss' => 'alert', :type => 'button'} ×
      = alert
