/ navigation panel
%nav#nav.navbar-default.navbar-static-top{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-collapse-main", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Flores de Bach México", root_path, class: "navbar-brand"
    #navbar-collapse-main.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if !user_signed_in?
          %li= link_to "Entrar", new_user_session_path
          %li= link_to "Registrarme", new_user_registration_path
        - else
          %li.dropdown
            = link_to "#", data: {toggle: "dropdown"}, class: "dropdown-toggle" do
              = current_user.name
              %i.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "Salir", destroy_user_session_path, method: :delete
          - if current_user.admin?
            %li.dropdown
              = link_to "#", data: {toggle: "dropdown"}, class: "dropdown-toggle" do
                Administrar
                %i.caret
              %ul.dropdown-menu{:role => "menu"}
                %li= link_to "Usuarios", admin_users_path
                %li= link_to "Cursos", admin_courses_path
                %li= link_to "Posts", admin_entries_path

