.col-md-3.col-md-offset-4
  .text-center
    %h1 Flores de Bach México
    %hr
  = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: {autocomplete: "off"} do |f|
    = f.input :email, autofocus: true
    = f.input :password, hint: false, autocomplete: "off"
    = f.check_box :remember_me
    = f.label :remember_me
    = f.submit "Log in", class: "btn btn-success btn-block btn-sm"
    .col-md-10.col-md-offset-1
      %hr
    .text-center
      ¿Aun no tienes cuenta?
      = render "devise/shared/links"
