// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {
  background-color: #FFFFFF;
}

.light-text {
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.title-subtitle {
  @extend .light-text;
  margin: 0;
  padding: 0;
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
    font-weight: lighter;
  }
  h3 {
    font-size: 2em;
    font-weight: lighter;
  }
}

header {
  background: image-url("blossom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  height: 730px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  a {
    background-color: transparent;
    color: white;
    margin-top: 30vh;
    width: 50px;
    height: 50px;
    padding: 13px;
    border: 2px solid #fff;
    border-radius: 100%;
    font-size: 20px;
    letter-spacing: normal;
    transition-property: color;
    transition-duration: 0.5s;
    .glyphicon {
      color: white;
    }
    &:hover {
      opacity: 0.5;
      color: white;
    }
  }
  small {
    color: white;
  }
}

@media(min-width:1025px) {
  header {
    background-attachment: fixed;
  }
}

#nav{
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s linear;
  font-size: 16px;
  a {
    color: #FFFFFF;
  }
  &.affix {
    position: fixed;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    background-color: #FFFFFF;
    a {
      color: #777777;
    }
  }
  &.navbar-static-top{
    background-color: #3c763d;
  }
}

/* vertical-centered text */
.text-vcenter {
  display: block;
  text-align: center;
  margin-top: 40vh;
  @extend .title-subtitle;
}

/* padded section */
.pad-section {
  padding: 50px 0;
  img {
    width: 100%;
  }
}

#press {
  background-color: #344B64;
  color: white;
  padding: 30px 0;
  h2 {
    @extend .light-text;
    font-size: 20px;
  }
  img {
    width: 100%;
  }
}

#services {
  background-color: #4D713E;
  color: #ffffff;
  @extend .light-text;
  .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
}

#information {
  background: image-url("bach-flowers.jpg") no-repeat center center fixed;
  display: table;
  height: 400px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @extend .title-subtitle;
  .vertically-aligned{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
  }
}


.alert {
  right: 0;
  left: 0;
  position: absolute;
  z-index: 997;
  margin-top: 45px;
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1),
            -10px 8px 15px rgba(0, 0, 0, 0.1),
             10px 8px 15px rgba(0, 0, 0, 0.1);
  &.alert-application {
    margin-top: 0;
  }
}

.nav.navbar-nav.navbar-right {
  margin-right: 55px;
  .dropdown{
    a:focus {
      background-color: transparent;
    }
    .dropdown-menu {
      a {
        color: #4D713E !important;
      }
    }
  }
}

#courses{
  margin-bottom: 30px;
  text-align: center;
  h1 {
    margin-bottom: 25px;
  }
  .course {
    margin-top: 4px;
    font-family: "Helvetica Neue";
    text-align: center;
    font-weight: 100;
    color: white;
    .course-header{
      padding: 20px 0;
      background-color: #92A068;
      font-size: 20px;
    }
    .course-body{
      background-color: rgb(166, 194, 136);
      line-height: 40px;
      background-color: #A2B664;
      padding-top: 40px;
      padding-bottom: 20px;
      .dollar {
        font-size: 24px;
        position: relative;
        top: -25px;
        left: -2px;
      }
      .amount {
        letter-spacing: -4px;
        font-size: 60px;
        margin-right: 6px;
        font-weight: 300;
        margin-left: -5px;
      }
      .price-note {
        text-align: center;
        color: gray;
        font-size: 12px;
        margin-top: 5px;
        font-family: 'Chronicle SSm A','Chronicle SSm B',Georgia,serif;
        font-style: italic;
      }
      .course-controls {
        .btn-subscribe {
          background-color: transparent;
          border: 1px solid white;
          border-radius: 4px;
          color: white;
          &:hover {
            background-color: white;
            color: #A2B664;
          }
        }
      }
    }
    .course-description {
      min-height: 120px;
      color: gray;
      padding: 10px 5px;
      border-left: 1px dotted gray;
      border-bottom: 1px dotted gray;
      border-right: 1px dotted gray;
      font-weight: lighter;
      // display: table-cell;
      vertical-align: middle;
    }
  }
}

#blog {
  margin-top: 40px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 100;
  h1 {
    font-size: 5em;
    margin-bottom: 40px;
  }
}

.controls {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bach-divider {
  width: 75% !important;
  margin-top: 60px;
}

.glyphicon-remove {
  color: red;
}
