.col-md-3.col-md-offset-4
  .text-center
    %h1 Editar post
    %hr
  = simple_form_for @entry, url: admin_entry_url(@entry), html: {method: :put, autocomplete: 'off' } do |f|
    = f.input :url, autofocus: true
    .col-md-10.col-md-offset-1
      = f.submit "Guardar", class: "btn btn-success btn-block btn-lg"
      = link_to "Regresar", admin_entries_url, class: "btn btn-default btn-lg btn-block"
