%br
%br
.container
  %h1 Posts
  %br
  .col-sm-offset-10.col-sm-2
    = link_to new_admin_entry_path, class: "btn btn-default" do
      %span.glyphicon.glyphicon-plus
      Crear Post
  - if @entries
    %table.table.table-stripped.space-top
      %thead
        %tr
          %th URL
          %th Usuario que lo posteó
          %th
          %th
      %tbody
        - @entries.each do |entry|
          %tr
            %td= entry.url
            %td= entry.user.name
            %td= link_to '', edit_admin_entry_url(entry), title: 'Editar', class: "glyphicon glyphicon-pencil"
            %td= link_to '', admin_entry_path(entry), method: :delete, title: 'Eliminar', data: {confirm: '¿Estás seguro?'}, class: "glyphicon glyphicon-remove"
  - else
    %br
    %br
    %p.well.space-top
      No se han encontrado posts
    .form-group
      .col-sm-offset-10.col-sm-2
