.col-md-3.col-md-offset-4
  .text-center
    %h1 Nuevo Post
    %hr
  = simple_form_for @entry, as: @entry, url: admin_entries_path(@entry) do |f|
    - if @entry.errors.any?
      #errors
        %h2
        = pluralize(@entry.errors.count, "error")
        No permitieron salvar el post
        %ul
          - @course.errors.full_messages.each do |msg|
            %li= msg

    = f.input :url, autofocus: true
    = f.submit "Crear Post", class: "btn btn-success btn-block btn-sm"
    = link_to "Regresar", admin_entries_path
