.col-md-3.col-md-offset-4
  .text-center
    %h1 Editar usuario
    %hr
  = simple_form_for @user, url: admin_user_url(@user), html: {method: :put, autocomplete: 'off' } do |f|
    = f.input :name, autofocus: true
    = f.input :email
    = f.input :admin, as: :boolean, boolean_style: :inline
    .col-md-10.col-md-offset-1
      = f.submit "Guardar", class: "btn btn-success btn-block btn-lg"
      = link_to "Regresar", admin_users_url, class: "btn btn-default btn-lg btn-block"
