%br
%br
.container
  %h1 Usuarios
  %br
  - if @users.any?
    %table.table.table-stripped.space-top
      %thead
        %tr
          %th Nombre
          %th Email
          %th Admin
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td= user.admin
            %td= link_to '', edit_admin_user_url(user), title: 'Editar', class: 'glyphicon glyphicon-pencil'
  - else
    %p.well.space-top
      No se han encontrado usuarios
    .form-group
      .col-sm-offset-10.col-sm-2
        = link_to 'Regresar', admin_users_url, :class => 'btn btn-default btn-block'
