%p(style="color:#456;font-family:helvetica,arial,sans-serif;font-size:24px;line-height:1.2;margin:15px 0;padding:0")
  = @contact_request.name
  te ha enviado un mensaje
%p(style="color:#456;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:1.4;margin:15px 0;padding:0")
  = @contact_request.name
  (
  = link_to @contact_request.email, "mailto:#{@contact_request.email}"
  ) ha enviado el siguiente mensaje:
%p(style="color:#456;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:1.4;margin:15px 0;padding:0")
  = @contact_request.message
