.col-md-3.col-md-offset-4
  .text-center
    %h1 Editar curso
    %hr
  = simple_form_for @course, url: admin_course_url(@course), html: {method: :put, autocomplete: 'off' } do |f|
    = f.input :title, autofocus: true
    = f.input :cost
    = f.input :description, as: :text
    = f.input :document, as: :file
    - if f.object.document.exists?
      Este es el archivo actual del curso:
      = image_tag f.object.document.url(:thumb), class: "img-thumbnail"
    = f.input :registrable, as: :boolean, boolean_style: :inline
    .col-md-10.col-md-offset-1.controls
      = f.submit "Guardar", class: "btn btn-success btn-block btn-lg"
      = link_to "Regresar", admin_courses_url, class: "btn btn-default btn-lg btn-block"
