%br
%br
.container
  %br
  %h1 Cursos
  %br
  .col-sm-offset-10.col-sm-2
    = link_to new_admin_course_path, class: "btn btn-default" do
      %span.glyphicon.glyphicon-plus
      Crear Curso
  - if @courses.any?
    %table.table.table-stripped.space-top
      %thead
        %tr
          %th Titulo
          %th Precio al público
          %th Descripción
          %th
          %th
      %tbody
        - @courses.each do |course|
          %tr
            %td
              %strong= course.title
            %td= number_to_currency(course.cost, precision: 0)
            %td= course.description
            %td= link_to '', edit_admin_course_url(course), title: 'Editar', class: "glyphicon glyphicon-pencil"
            %td= link_to '', admin_course_path(course), method: :delete, title: 'Eliminar', data: {confirm: '¿Estás seguro?'}, class: "glyphicon glyphicon-remove"
  - else
    %br
    %br
    %p.well.space-top
      No se han encontrado cursos
    .form-group
      .col-sm-offset-10.col-sm-2
        = link_to 'Administrar usuarios', admin_users_url, :class => 'btn btn-default'
