.col-md-3.col-md-offset-4
  .text-center
    %h1 Nuevo Curso
    %hr
  = simple_form_for @course, as: @course, url: admin_courses_path(@course), html: {multipart: true} do |f|
    - if @course.errors.any?
      #errors
        %h2
        = pluralize(@course.errors.count, "error")
        No permitieron salvar el curso
        %ul
          - @course.errors.full_messages.each do |msg|
            %li= msg

    = f.input :title, autofocus: true
    = f.input :cost
    = f.input :description, as: :text
    = f.input :document, as: :file
    = f.submit "Crear Curso", class: "btn btn-success btn-block btn-sm"
    = link_to "Regresar", admin_courses_path
