!!!
%html{:lang => "es"}
  = render partial: "layouts/application/head"
  %body
    - if current_page?(root_path)
      = render partial: "layouts/home/navbar"
      = render partial: "layouts/home/flash"
    - else
      = render partial: "layouts/application/navbar"
      = render partial: "layouts/application/flash"
    = yield
